*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
data/r34_3.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_17.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_13.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_5.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_7.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_2.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_10.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_7.g6 filter=lfs diff=lfs merge=lfs -text
data/r46_35some.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_14.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r36_1.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_16.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r44_17.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_5.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_11.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_3.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_4.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_11.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r44_3.g6 filter=lfs diff=lfs merge=lfs -text
data/r55_42some.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_12.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_4.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_12.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r36_15.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r36_6.g6 filter=lfs diff=lfs merge=lfs -text
data/r38_27.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r35_6.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_13.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r36_14.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r37_22.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_12.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r44_6.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_4.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_8.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_6.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_1.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_16.g6 filter=lfs diff=lfs merge=lfs -text
data/r45_24.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_8.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_7.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_9.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_11.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r39_35.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_10.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_5.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_8.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_13.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r44_9.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_2.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_3.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_2.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_9.g6 filter=lfs diff=lfs merge=lfs -text
data/r37_21.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r44_10.g6.gz filter=lfs diff=lfs merge=lfs -text
data/r44_15.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_4.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_8.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_1.g6 filter=lfs diff=lfs merge=lfs -text
data/r34_5.g6 filter=lfs diff=lfs merge=lfs -text
data/r35_1.g6 filter=lfs diff=lfs merge=lfs -text
data/r36_7.g6 filter=lfs diff=lfs merge=lfs -text
data/r44_2.g6 filter=lfs diff=lfs merge=lfs -text
